
body {
scroll-behavior: smooth;
margin-top: 0;
width: 80%;
height: 20%;
margin-left: auto;
margin-right: auto;
border: 3px solid darkblue;

background-image: url(image/fon.jpg);
background-size: cover;
}

header {
width: auto;   
height: 150px;   
background-image: url(image/snowsky.jpg);
background-position: center;
background-size: cover;
}


img {
    border:  3px solid black;
    border-radius: 10%;
}

.box {
    padding: 100px;  
    background-color: white;
}

.text {
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    font-size: 20px;
    font-family: Century Gothic;
}