
body {
scroll-behavior: smooth;
width: 80%;
height: 20%;
margin-left: auto;
margin-right: auto;
}

header {
padding: 0;
width: auto;   
height: 150px;   
background-image: url(image/snowsky.jpg);
background-position: center;
background-size: cover;
}


img {
    border:  3px solid black;
    border-radius: 10%;
}



.box {
    padding: 100px;  
    margin: 10px;
}

.text {
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    font-size: 22px;
    font-family: Century Gothic;
}